<div class="container">
    <h2>
        Contato
    </h2>
    <div class="meios">
        <img src="../../../assets/images/logo.png" alt="logo">
        <div class="email" (click)="copyText('dsordesdinho342@gmail.com')">
            dsordesdinho342@gmail.com
        </div>
        <nav>
            <a href="https://github.com/dsordes37" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/d-sordes-moreira-alves-5959b92aa/" target="_blank">Linkedin</a>
        </nav>
    </div>
</div>