.container{
    background-color: var(--background_color);
    margin: auto;
    padding-bottom: 2rem;
    width: 100%;
    text-align: center;
    
}h2{
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 4rem;
}.meios{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
img{
    width: 6.5rem;
}.email{
    font-size: clamp(1rem, 4.5vw, 3rem);
    font-weight: bold;
    padding: 1rem;
    border: 2px solid var(--color1);
    border-radius: 10px;
    color: var(--background_color);
    background-color: var(--color1);
    min-width: 70vw;
    height: fit-content;
    margin: auto;
    cursor: pointer;
    transition: .3s;
    position: relative;
    overflow: hidden;
    
}
.email:hover{
    background-image: none !important;
    background-color: transparent;
    color: var(--color1);
}




nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}