.container{
    width: 6rem;
    height: 6rem;
    
    border: 2px solid var(--color2);
    color: var(--color2);
    border-radius: 20% 0;

    text-align: center;
}

.icon{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}span{
    font-weight: bold;
}
i{
    transform: scale(3, 3);
}