.container{
    width: 6rem;
    height: 7rem;
    
    border: 2px solid var(--color2);
    color: var(--color2);
    border-radius: 20px;

    text-align: center;
    box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.356);
}

.icon{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}span{
    font-weight: bold;
}
i{
    transform: scale(3, 3);
}