.container{
    text-align: justify;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1rem, 5vw, 3rem);
    font-family: "Oswald", Arial, Helvetica, sans-serif;

    
    
}p{
    width: 70%;

    border-radius: 20px;
    padding: 2rem;
    border: 2px solid var(--color2);

    box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.39);
    margin: 10px;

    background-color: var(--background_color);
}
strong{
    color: var(--color2);
}


@media (max-width: 480px){
    p{
        width: 90%;
    }
}