.container{
    position: fixed;
    width: 100%;
    height: 3.7rem;
    background-color:var(--background_color);
    transition: 1s;
    z-index: 1;
}


header, #logo_cont{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.7rem;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
}
header{
    justify-content: space-between;
    z-index: 1;
    
    
}header *{
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    gap: .5rem;
    text-transform: capitalize;
    flex-wrap: wrap;
    justify-content: space-around;
}#logo_cont{
    justify-content: center;
    
}
#logo{
    height: 100%;
    align-self: center;
    z-index: 2;
}
img{
    height: 100%;
}header>div:last-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#contato{
    height: 2.1rem;
    padding: .1rem .5rem;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--color1), var(--color2));
    color: var(--background_color);
    border: 2px solid var(--color1);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    
}#contato:hover{
    background: none;
    color: var(--color1);
}
#lang{
    background-color: transparent;
    border: none;
    color: var(--words_color);
    margin-right: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}#menu_bt{
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}#menu_bt:hover{
    background-color: rgba(255, 255, 255, 0.11);
}#menu_bt>span{
    display: flex;
    justify-content: center;
    align-items: center;
}.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after, .is-active, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after{
    width: 1.8rem;
    background-color: white;
}

hr{
    display: none;
}

#social{
    position: absolute;
    top: 80vh;
    left: 1rem;
    flex-direction: column;
    gap: 1rem;
}svg{
    width: 100%;
}.social_icons{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}#github>svg{
    fill: var(--words_color);
}#linkedin{
    background-color: var(--words_color);
}#linkedin>svg{
    fill: var(--background_color);
    width: 60%;
}

#github:hover>svg{
    transform: scale(1.1);
}#linkedin:hover{
    transform: scale(1.1);
}

#dark_light{
    position: absolute;
    top: 81vh;
    right: -.9rem;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    transform: rotate(90deg);
    font-size: 1.3rem;
    cursor: pointer;
}

@media(max-width:480px){
    .container{
        background-color: var(--background_color);
        overflow: hidden;
        display: grid;
        grid-template-areas: 'a' 'b' 'li1' 'c' 'd';
        grid-template-rows: .5fr 2fr 1fr 1fr 1fr;

    }#logo_cont{
        position: initial;
        grid-area: a;
        justify-content: space-between;
    }
    header{
        position: initial;
        flex-direction: column;
        font-size: 1.5rem;
        gap: 3rem;
        grid-area: b;
    }nav{
        gap: 1rem;
    }#social{
        position: initial;
        flex-direction: row;
        gap: 3rem;
        grid-area: c;
        margin: auto;
        
    }.social_icons{
        height: 4rem;
        width: 4rem;
    }#dark_light{
        transform: none;
        position: initial;
        grid-area: d;
        margin: auto;

    }hr{
        display: block;
        width: 80%;
        height: 2px;
        grid-area: li1;
        margin: auto;

    }#menu_bt{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}