<section class="container">
    <h1>{{title}}</h1>
    <img src="{{laptop_img}}" alt="layout do site no computador">
    <nav>
        <a href="{{demo}}" target="_blank">acesse</a>
        <a href="{{github}}" target="_blank">github</a>
    </nav>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quas quibusdam quae veritatis a nobis esse aperiam, ipsum, reprehenderit praesentium nulla facilis corrupti quam iusto, quasi possimus enim doloremque deserunt. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur quod sed placeat voluptatibus. Illo, corporis, suscipit mollitia nihil fuga porro reiciendis, enim voluptatibus saepe ipsa molestiae harum magni modi aliquid? Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam magnam harum ex accusantium beatae maiores obcaecati repellendus architecto tempora atque cumque vitae dignissimos dolorem odit nulla, iste quidem esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ipsam nobis perspiciatis aspernatur! Blanditiis maiores dolorem ab aspernatur recusandae autem. Magni sed vitae ea quis, incidunt expedita saepe est impedit.</p>
    <img class="cell" src="{{cell_img}}" alt="layout do site no celular">

    <nav>
        <a href="{{i}}" *ngFor="let i of inspirations">{{i}}</a>
    </nav>
</section>



<!-- <p>{{title}}</p>
<img src="{{cell_img}}" alt="">
<a [routerLink]="['']">home</a> -->
