<section class="container">
    <h1>{{title}}</h1>
    <img src="{{laptop_img}}" alt="layout do site no computador">
    <nav class="site_links">
        <a href="{{demo}}" target="_blank">acesse</a>
        <a href="{{github}}" target="_blank">github</a>
    </nav>
    <p>{{text}}</p>
    <img class="cell" src="{{cell_img}}" alt="layout do site no celular">

    <nav>
        <a href="{{i}}" *ngFor="let i of inspirations">{{i}}</a>
    </nav>
</section>



<!-- <p>{{title}}</p>
<img src="{{cell_img}}" alt="">
<a [routerLink]="['']">home</a> -->
