button{
    height: 2.1rem;
    padding: .1rem .5rem;
    background-color: var(--color1);
    background-image: linear-gradient(to right, var(--color1), var(--color2));
    color: var(--background_color);
    border: 2px solid var(--color1);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    
}button:hover{
    background: transparent;
    color: var(--color1);
}