.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 4rem;
    margin-bottom: 5rem;
}
.projects{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}