.container{
    display: flex;
    gap: 1rem;
    width: clamp(200px, 90vw, 300px);
    

    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;

    border: 2px solid var(--color2);
    box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.301);

}.container:hover{
    background-color: var(--translucid_grey);
    transform: scale(1.08, 1.08);
}img{
    width: 100%;
    border-radius: 5%;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.493);
}h3{
    font-size: 210%;
    text-wrap: wrap;
    color: var(--color2);
}p{
    color: var(--word_grey);
}.right{
    width: 30%;

}.left{
    width: 70%;
}