@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('hamburguers.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');


:root{
    --background_color: #000116;
    --background_color2: #07091f;
    --background_color3: #050825;;
    
    --words_color: #ffffff;
    --word_grey: gray;
    --color1: #0008cc;
    --color2: #00b2f0;
    --translucid_grey: rgba(122, 122, 122, 0.103);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
    z-index: 1;
}*::selection{
    color: var(--words_color);
    background-color: var(--color1);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--background_color3);
    overflow-x: hidden;
    
    color: var(--words_color);
}a{
    color: currentColor;
    text-decoration: none;
}a:hover{
    text-decoration: underline;
}i, svg{

    z-index: 0;
}


.right_to_center, .left_to_center, .botton_to_center, .top_to_center{
    overflow: hidden;
}
.right_to_center>*, .left_to_center>*, .botton_to_center>*, .top_to_center>*{
    transition: .6s ease-out;
}




.right_to_center.inactive> *{
    transform: translate(100%, 0);
    opacity: 0;
}

.left_to_center.inactive> *{
    transform: translate(-100%, 0);
    opacity: 0;
}

.botton_to_center.inactive> *{
    transform: translate(0, 100%);
    opacity: 0;
}

.top_to_center.inactive> *{
    transform: translate(0, -100%);
    opacity: 0;
}




.active> *{
    transform: translate(0, 0);
    opacity: 1;
}

